#scanBin, #scanTrash {
    width: 90vw;
    height: 40vh;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border: none;
    margin: 2vh auto;

    img {
        width: 75%;
        height: auto;
    }
}

#wrapper {
    height: 100%;
}